# STT / LLM
groq>=1.4.0

# Audio
numpy>=2.4.6
sounddevice>=0.5.5

# GUI
PySide6>=6.11.1

# Hotkeys
keyboard>=0.13.5

# Clipboard / text insertion
pyperclip>=1.11.0

# Tray
pystray>=0.19.5
Pillow>=12.2.0
